<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel ="shortcut icon" href="/img/sme.png">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="/css/style-home.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style-edu-infantil.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/05c604f0f4.js" crossorigin="anonymous"></script>
    <script src="/js/progressbar.min.js"></script>
</head>

<body>

<header>
    <div class="container" id="nav-container">
        <nav class="navbar navbar-expand-lg fixed-top">
            <a href="/educacaoInfantil/ameliaPacheco/inicio" class="navbar-brand nav-title">
                Pré-Escolar Municipal Dona Amélia Pacheco
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/educacaoInfantil/ameliaPacheco/inicio">
                            Início
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/educacaoInfantil/ameliaPacheco/nossasAtividades">
                            Nossas Atividades
                        </a>
                    </li>
                </ul>
                <a class="btn btn-dark d-flex me-2" href="/home"><i class="bi bi-house-fill me-2"></i>Página Inicial</a>
            </div>
        </nav>
    </div>
</header>
<div class="containaer">
    <div class="row">
        <div class="col-12">
            <h3 class="main-title">Título da Atividade</h3>
        </div>

    </div>
</div>

</body>
</html>