<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel ="shortcut icon" href="/img/sme.png">
    <title>Início</title>
    <link type="text/css" rel="stylesheet" href="/css/style-home.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style-ens-fundamental.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<header>
    <div class="container" id="nav-container">
        <nav class="navbar navbar-expand-lg fixed-top">
            <a href="/ensinoFundamental/amerindoBezzera/inicio" class="navbar-brand nav-title">
                Escola Municipal Amerindo Bezerra
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/ensinoFundamental/amerindoBezerra/inicio">
                            Início
                        </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/ensinoFundamental/amerindoBezerra/nossasAtividades">
                            Nossas Atividades
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/ensinoFundamental/amerindoBezerra/contatos">
                            Contatos
                        </a>
                    </li>
                </ul>
                <a class="btn btn-dark d-flex me-2" href="/home"><i class="bi bi-house-fill me-2"></i>Página Inicial</a>
            </div>
        </nav>
    </div>
</header>

        <div id="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">Equipe Diretiva</h3>
                    </div>
                                <div class="cards-wrapper d-flex justify-content-center">
                                    <div class="col-md-2 col-md-offset-6">
                                        <div class="card">
                                            <img src="/img/new/profile1.jpg" class="card-img-top" alt="Imagem de perfil 1">
                                            <div class="card-body">
                                               <h5 class="card-title">Jhon Doe</h5>
                                               <p class="card-text">Diretor</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card">
                                            <img src="/img/new/profile2.jpg" class="card-img-top" alt="Imagem de perfil 2">
                                            <div class="card-body">
                                                <h5 class="card-title">Maria Mariana</h5>
                                                <p class="card-text">Vice-diretora</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-md-offset-6">
                                        <div class="card">
                                            <img src="/img/new/profile4.jpg" class="card-img-top" alt="Imagem de perfil 3">
                                            <div class="card-body">
                                                <h5 class="card-title">Karina Katarina</h5>
                                                <p class="card-text">Supervisora</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</body>
</html>
